{% extends "base.html" %}

{% block title %}Contact{% endblock title %}

{% block body %}
<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center mb-4">
      <img src="https://images.unsplash.com/photo-1480694313141-fce5e697ee25?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid d-block mx-auto" alt="Responsive image">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">Contact Us</h3>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
      <form action="/contact/" method="post">

        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name='name' placeholder="Your Name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="phone" name='phone' placeholder="Enter Your mobile phone">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" name='message'placeholder="Your message"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>


    </div>
  </div>
</div>
{% endblock body %}
